<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="calendar">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="modules">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Modules</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="assessments">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Assessments</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grades">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Grades</ion-label>
    </ion-tab-button>    

    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
