<ion-content class="background" [style.background-image]="'url(\'./assets/images/background1.jpg\')'">
  <div class="ion-padding h-100">
    <div class="ion-text-center">
      <ion-card class="login-card">
        <ion-card-header>
          <ion-card-title class="fw-bold text-uppercase">Login</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <p class="text-white-50">Please enter your Username and Password!</p>

          <ion-item class="mb-4">
            <ion-input [(ngModel)]="email" type="email" placeholder="Username *"></ion-input>
          </ion-item>

          <ion-item class="mb-4">
            <ion-input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" placeholder="Password *"></ion-input>
            <ion-icon name="{{ showPassword ? 'eye' : 'eye-off' }}" slot="end" (click)="toggleShowPassword()"></ion-icon>
          </ion-item>

          <p class="small mb-5 pb-lg-2"><a class="text-white-50" id="open-modal">New User? Click here to register</a></p>
          <p class="small mb-5 pb-lg-2"><a class="text-white-50" routerLink="/forgot-password" id="open-forgot-modal">Forgot password?</a></p>

          <ion-button expand="full" (click)="login()">Login</ion-button>

          <!--Modal-->
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Register</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <br>
      <ion-content>
        <div class="container">
        <ion-item>
          <ion-input labelPlacement="stacked" label="Enter your first name" [(ngModel)]="firstName" placeholder="Your first name" required="first name is required"></ion-input>
        </ion-item><br>
        <ion-item>
          <ion-input labelPlacement="stacked" label="Enter your last name" [(ngModel)]="lastName" placeholder="Your last name" required="last name is required"></ion-input>
        </ion-item><br>
        <ion-item>
          <ion-input labelPlacement="stacked" label="Enter your email address" [(ngModel)]="newEmail" placeholder="Your email address" required="email is required"></ion-input>
        </ion-item><br>
        <ion-item>
          <ion-input labelPlacement="stacked" label="Enter your new password" [(ngModel)]="newPassword" placeholder="Your new password" required="password is required"></ion-input>
        </ion-item><br>

        <ion-button expand="full" (click)="register()">Register</ion-button>
      </div>
      </ion-content>

    </ng-template>
  </ion-modal>

  <ion-modal #modal2 trigger="open-forgot-modal" [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Forgot Password</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal2.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <br><ion-content>
        <ion-item>
          <ion-input labelPlacement="stacked" label="Enter your email address" [(ngModel)]="newEmail" placeholder="Your email address" required="email is required"></ion-input>
        </ion-item><br>

        <ion-button expand="full" (click)="resetPassword()">Request Password Change</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!--Modal End-->

  <ion-toast
    [isOpen]="isToastOpen"
    message= '{{message}}'
    [duration]="5000"
    [position]= "top"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>

