.shorter-card {
    max-width: 80vw; /* You can adjust the percentage as needed */
  }

  ion-card {
    margin: 0;
    padding: 0%;
    margin-bottom: 1px; /* Optional: Add some margin between cards if needed */
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    gap: 10px; /* Adjust the gap between cards as needed */
  }

  .cards {
    display: flex;
    flex-direction: column; /* Ensures cards are stacked vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
  }


  :root {
    --class-test-color: blue; /* Default text color for 'Class Test' option */
    --semester-test-color: green; /* Default text color for 'Semester Test' option */
    --assignment-color: orange; /* Default text color for 'Assignment' option */
    --exam-color: red; /* Default text color for 'Exam' option */
  }
  
  .dark-mode {
    --class-test-color: yellow; /* Text color for 'Class Test' option in dark mode */
    --semester-test-color: cyan; /* Text color for 'Semester Test' option in dark mode */
    --assignment-color: pink; /* Text color for 'Assignment' option in dark mode */
    --exam-color: gray; /* Text color for 'Exam' option in dark mode */
  }
  
  .assessment-option {
    color: var(--class-test-color); /* Use the custom property for text color */
  }
  
  